@model Containers._User
<!doctype html>
    <html>
    <head>
    <meta charset="utf-8">
        <title>personal</title>
        <link rel="stylesheet" href="/Person/personal_information.css" />
    </head>

    <body>
        <br>
        <div class="wrapper content">
            <!-- 面包屑 -->
            <div class="breadcrumb"> 当前位置： <a href="/Person/center">个人中心</a> <span class="sep">&gt;</span> <span class="active">个人信息</span> </div>
            <!-- 个人信息 -->
            <div class="center-box">
                <!-- 个人信息左侧 -->
                <!-- 个人信息左侧菜单 -->
                <ul class="center-menu" role="menubar">
                    <li class="menu-item" id="gerenzhongxin" role="menuitem">
                        <h2 class="menu-tit">
                            <a href="/Person/center">个人中心</a>
                        </h2>
                    </li>
                    <li class="menu-item" role="menuitem">
                        <h2 class="menu-tit">
                            <a href="/Person/ticket">订单中心</a>
                        </h2>
                    </li>
                    <li class="menu-item" role="menuitem">
                        <h2 class="menu-tit active">
                            <a href="/Person/information">个人信息</a>
                        </h2>
                    </li>
                </ul>

                <!-- 个人信息右侧内容 -->
                <div class="center-main">
                    <div class="panel-border" id="js-minHeight">
                    <!-- 个人信息 -->
                        <div class="center-form-item">
                            <!-- 基本信息 -->
                            <div class="center-tit">
                                <div class="tit-name">基本信息</div>
                            </div>
                            <br>
                            <!-- 显示 -->
                            <div class="form-list form-list-view" id="basic_info_view">
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>用户名：</div>
                                    <div class="form-bd"><div class="form-bd-txt">@Model.UserID</div></div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>性别：</div>
                                    <div class="form-bd"><div class="form-bd-txt">@Model.UserGender</div></div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>姓名：</div>
                                    <div class="form-bd"><div class="form-bd-txt">@Model.UserRName</div></div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>证件号码：</div>
                                    <div class="form-bd"><div class="form-bd-txt">@Model.UserPID</div></div>
                                </div>
                            </div>

                            <div class="line-dashed"></div>

                            <!-- 联系方式 -->
                            <div class="center-tit">
                                <div class="tit-name">联系方式</div>
                            </div>
                            <br>
                            <!-- 显示 -->
                            <div class="form-list form-list-view" id="relation_way_view">
                                <div class="form-item" style="position:relative">
                                    <div class="form-label"><span name="mobile_div_span" class="required">*</span>手机号：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.UserPhone</div>
                                    </div>
                                </div>
                                <div class="form-item" style="position:relative">
                                    <div class="form-label">邮箱：</div>
                                    <div class="form-bd" title="@Model.UserEmail"><div class="form-bd-txt">@Model.UserEmail</div></div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label">地址：</div>
                                    <div class="form-bd"><div class="form-bd-txt showAddress" title="">@Model.UserAddr</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </body>
    </html>
