@model ReturnModels.Person_Information
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Person/personal_information.css" />
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/系统首页1.png">
                    <img class="img2" src="/Person/image/系统首页2.png">
                    <a href="/Home/Index">系统首页</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/订票中心1.png">
                    <img class="img2" src="/Person/image/订票中心2.png">
                    <a href="/Train/Index">订票中心</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Person/image/个人信息1.png">
                    <img class="img2" src="/Person/image/个人信息2.png">
                    <a href="/Person/information">个人信息</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/我的订单1.png">
                    <img class="img2" src="/Person/image/我的订单2.png">
                    <a href="/Person/ticket">我的订单</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/安全中心1.png">
                    <img class="img2" src="/Person/image/安全中心2.png">
                    <a href="/Person/account">安全中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <img src="/Person/image/train.png">
        <span>您好！</span>
        <span>@Model.Myuser.UserRName</span>
        <a href="/Login/Index">退出登录</a>
    </div>


    <div class="box1">
        <div class="box1_1">
            <div class="box1_1_1" id="box1_1_1">
                <div class="text_1">我的信息</div>
            </div>
            <div class="box1_1_2" id="box1_1_2">
                <div class="text_1"> 乘车人信息 </div>
            </div>
        </div>
        <div class="box1_2">
            <div class="box1_2_1">
                <div class="box1_2_1_1">
                    <!-- 我的信息 -->
                    <div class="panel-border" style="display: block" id="myInfo">
                        <!-- 个人信息 -->
                        <div class="center-form-item">
                            <!-- 基本信息 -->
                            <div class="center-tit">
                                <div class="tit-name">基本信息</div>
                            </div>
                            <br>
                            <!-- 显示 -->
                            <div class="form-list form-list-view" id="basic_info_view">
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>用户名：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.Myuser.UserPID</div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>性别：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.Myuser.UserGender</div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>姓名：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.Myuser.UserRName</div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label"><span class="required">*</span>证件号码：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.Myuser.UserPID</div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-dashed"></div>

                            <!-- 联系方式 -->
                            <div class="center-tit">
                                <div class="tit-name">联系方式</div>
                                <input id="bt1" class="change-bt" type="button" value="更改信息">
                            </div>
                            <br>
                            <!-- 显示 -->
                            <div class="form-list form-list-view" id="relation_way_view" style="display: block">
                                <div class="form-item" style="position:relative">
                                    <div class="form-label"><span name="mobile_div_span" class="required">*</span>手机号：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt">@Model.Myuser.UserPhone</div>
                                    </div>
                                </div>
                                <div class="form-item" style="position:relative">
                                    <div class="form-label">邮箱：</div>
                                    <div class="form-bd" title="@Model.Myuser.UserEmail">
                                        <div class="form-bd-txt">@Model.Myuser.UserEmail</div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-label">地址：</div>
                                    <div class="form-bd">
                                        <div class="form-bd-txt showAddress" title="">@Model.Myuser.UserAddr</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 更改联系方式 -->

                            <div class="form-list form-list-view" id="relation_way_change" style="display: none">
                                <div class="form-item" style="position:relative">
                                    <div class="form-label" hidden="hidden">手机号：</div>
                                    <div class="form-bd">
                                        <input class="input" id="mobileNo" value="@Model.Myuser.UserPhone" placeholder="@Model.Myuser.UserPhone" hidden="hidden">
                                        <div class="form-tips" id="phonePrompt" style="display: none">请输入正确的手机号！</div>
                                    </div>
                                </div>
                                <form method="post" action="/Person/information">
                                    <div class="form-item" style="position:relative">
                                        <div class="form-label">邮箱：</div>
                                        <div class="form-bd">
                                            <input class="input" name="email" id="email" placeholder="请输入邮箱">
                                            <div class="form-tips"  id="emailPrompt" style="display: none">请输入正确的邮箱地址！</div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <div class="form-label">地址：</div>
                                        <div class="form-bd">
                                            <input class="input" name="address" placeholder="请输入地址">
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <input id="bt2" class="cancel-change" type="button" value="取消">
                                        @*<input id="bt3" class="confirm-change" type="button" value="确认更改">*@
                                        <button class="confirm-change" type="submit">确认修改</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- 乘车人信息 -->
                    <div class="panel-border" style="display: none" id="partnerInfo">
                        <div class="form-list">
                            <!-- 个人信息不可删除 -->
                            <div class="partner" id="self">
                                <div class="partner-top">
                                    <div class="partnerInfo">
                                        <div class="form-item">
                                            <div class="form-label"><span class="required">*</span>姓名：</div>
                                            <div class="form-bd">
                                                <div class="form-bd-txt">@Model.Myuser.UserRName</div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-label"><span class="required">*</span>证件号码：</div>
                                            <div class="form-bd">
                                                <div class="form-bd-txt">@Model.Myuser.UserPID</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                <div class="line-dashed"></div>
                            </div>
                            <!-- 除自己以外乘车人信息 -->
                            @{
                                if (Model != null && Model.Mypassenger!=null&& Model.Mypassenger.Count > 0)
                                {
                                    for (int i = 0; i < Model.Mypassenger.Count; i++)
                                    {
                                                        <form method="post" action="/Person/deletePassenger">
                                                            <div class="partner" id="partner-@(i+1)">
                                                                <div class="partner-top">
                                                                    <div class="partnerInfo">
                                                                        <div class="form-item">
                                                                            <div class="form-label"><span class="required">*</span>姓名：</div>
                                                                            <div class="form-bd">
                                                                                <input hidden="hidden" name="PassengerName" value="@Model.Mypassenger[i].PassengerRName"/>
                                                                                <div class="form-bd-txt" >@Model.Mypassenger[i].PassengerRName</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-item">
                                                                            <div class="form-label"><span class="required">*</span>证件号码：</div>
                                                                            <div class="form-bd">
                                                                                <input hidden="hidden" name="PassengerPID" value="@Model.Mypassenger[i].PassengerPID" />
                                                                                <div class="form-bd-txt" >@Model.Mypassenger[i].PassengerPID</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        @*<input id="deletPartner-@(i+2)" class="deletPartner" type="button" value="删 除" onclick="deletePartner(this.id)">*@
                                                                        <button id="deletPartner-@(i+1)" class="deletPartner" type="submit">删 除</button>
                                                                    </div>
                                                                </div>
                                                                <div class="line-dashed"></div>
                                                            </div>
                                                        </form>   
                                    }
                                }
                            }

                            <!--增添新的乘车人-->

                        <div class="partner" id="addPartnerInfo" style="display: none">
                            <form method="post" action="/Person/addPassenger">
                                <div class="partner-top">
                                    <div class="partnerInfo">
                                        <div class="form-item">
                                            <div class="form-label"><span class="required">*</span>姓名：</div>
                                            <div class="form-bd">
                                                <input class="input" name="pName" placeholder="请输入姓名">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form-label"><span class="required">*</span>证件号码：</div>
                                            <div class="form-bd">
                                                <input class="input" name="pID" placeholder="请输入证件号码">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-dashed"></div>
                                <div class="form-item">
                                    <input class="cancel-change" type="button" value="取消" onClick="cancelAddPartener()">
                                    @*<input class="confirm-change" type="button" value="确认添加" onClick="confirmAddPartener()">*@
                                    <button class="confirm-change" type="submit">确认添加</button>
                                </div>
                            </form>
                        </div>

                            <input id="createPartner" style="display: block" class="addPartner" type="button" value="+增添乘车人" onClick="addPartener()">
                            <div class="blank"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
<script type="text/javascript" src="/Person/personal_information.js"></script>
@{
    if (Model.Deal_message != null)
    {
        <script>
            alert("@Model.Deal_message");
        </script>
    }
}