@model ReturnModels.OrderList
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>personal_ticket</title>
    <link rel="stylesheet" href="personal_ticket.css" />
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/系统首页1.png">
                    <img class="img2" src="/Person/image/系统首页2.png">
                    <a href="/Home/Index">系统首页</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/订票中心1.png">
                    <img class="img2" src="/Person/image/订票中心2.png">
                    <a href="/Train/Index">订票中心</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/个人信息1.png">
                    <img class="img2" src="/Person/image/个人信息2.png">
                    <a href="/Person/information">个人信息</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/我的订单1.png">
                    <img class="img2" src="/Person/image/我的订单2.png">
                    <a href="/Person/ticket">我的订单</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Person/image/安全中心1.png">
                    <img class="img2" src="/Person/image/安全中心2.png">
                    <a href="/Person/account">安全中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <img src="../image/train.png">
        <span>您好！</span>
        <span>@Model.Myuser.UserRName</span>
        <a href="#">退出登录</a>
    </div>

    <div class="content">
        <!-- 车票信息右侧内容 -->
        <div class="subway-order">
            <div class="panel-tab">
                <!--上部导航栏-->
                <div class="tab-hd">
                    <ul class="tab-hd-list" id="order_tab">
                        <li id="order_tab_1" data-type="0"> <a href="javascript:;" style="background-color: #6f9aff22;">未出行订单 </a> </li>
                        <li id="order_tab_2" data-type="1"> <a href="javascript:;" style="background-color: #6f9aff22;">历史订单</a> </li>
                    </ul>
                </div>
                <div class="tab-bd">
                    <!-- 未出行订单 -->
                    <div class="tab-item" style="display:block; min-height: 530px;" id="untrip">
                        <!-- 未出行订单列表 -->
                        <div class="order-panel order-panel-history">
                            <!-- 订单-搜索表单 -->
                            <div class="search-form-mini">
                                <div class="form-item">
                                    <div class="sel w160">
                                        <div class="sel-hd">
                                            <div class="sel-inner" id="chuxunType"> 按订票日期查询 </div>
                                            <i class="icon icon-caret-down"></i>
                                        </div>
                                        <div class="sel-bd select-old">
                                            <ul class="sel-list" id="wcx_seach_type">
                                                <li id="ifSelected" class="selected ifSelected"> 按订票日期查询 </li>
                                                <li>按乘车日期查询</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="input-box input-data w160">
                                        <input type="text" id="noTripFromDate" class="input" value="" aria-label="请输入日期，例如2021杠01杠01" autocomplete="off">
                                        <i class="icon icon-date" data-click="noTripFromDate"></i>
                                    </div>
                                    <span class="txt-lighter"> - </span>
                                    <div class="input-box input-data w160">
                                        <input type="text" id="noTripToDate" class="input" value="" aria-label="请输入日期，例如2021杠01杠01" autocomplete="off">
                                        <i class="icon icon-date" data-click="noTripToDate"></i>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="input-box input-data w160">
                                        <input type="text" class="input" id="noTripName" placeholder="订单号/车次/姓名" autocomplete="off">
                                        <i class="icon icon-clear"></i>
                                    </div>
                                </div>
                                <div class="form-item"> <a href="javascript:;" class="btn w100" id="searchNoTrip">查询</a> </div>
                            </div>
                            <div class="order-filter" style="margin-top: 20px"> <a href="javascript:;" class="active">全部</a> <a href="javascript:;">可改签</a> <a href="javascript:;">可退票</a> </div>
                            <!-- 订单-订单列表头部 -->
                            <table class="order-panel-head title-text" style="display:table;">
                                <colgroup>
                                    <col class="col-train">
                                    <col class="col-passenger">
                                    <col class="col-seat">
                                    <col class="col-price">
                                    <col class="col-state">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>车次信息</th>
                                        <th style="width: 200px">旅客信息</th>
                                        <th>席位信息</th>
                                        <th>票价</th>
                                        <th>车票状态</th>
                                        <!-- <th>总金额</th> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div id="not_travel">
                                @{
                                    if (Model != null)
                                    {
                                        for(int i=0;i<Model.List.Count;i++)
                                        {
                                    <div class="order-item">
                                        <div class="order-item-hd">
                                            <div class="order-hd-info"><span class="txt-light">订票时间：</span><span class="dingqiaoDate" data-date="@Model.List[i].OrderCreate">@Model.List[i].OrderCreate</span></div>
                                            <div class="order-hd-info"><span class="txt-light">订单号：</span>@Model.List[i].OrderID</div>
                                        </div>
                                        <div class="order-item-bd">
                                            <table class="order-item-table" id="query_order_form_ED43099486">
                                                <colgroup>
                                                    <col class="col-train">
                                                    <col class="col-passenger">
                                                    <col class="col-seat">
                                                    <col class="col-price">
                                                    <col class="col-state">
                                                    <col>
                                                </colgroup>
                                                <tbody>
                                                    <tr class="has-order-num ">
                                                        <td class="td-left align-top" rowspan="1">
                                                            <div class="order-info-ticket">
                                                                <!-- <div class="order-num-one">去程</div> -->
                                                                <div class="txt-bold txt-lg">@Model.Start_station[i]&nbsp;&gt;&nbsp;@Model.End_station[i] @Model.List[i].TrainID</div>
                                                                <div>@Model.List[i].LeavingTime 开</div>
                                                            </div>
                                                        </td>
                                                        <td style="width: 200px;">
                                                            <div class="passenger-operation">
                                                                <div class="passenger-check data-val" data-sequence="ED43099486" data-value="ED43099486,1,03,0011,2022-09-14 11:10" data-tradeno="NN1NNNJ0Z0Z1N0W1Z00N00  000Z0Z      00Z"> </div>
                                                                <div>@Model.List[i].Passenger.PassengerRName </div>
                                                                <div> 中国居民身份证 </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>@Model.Seat_level[i]</div>
                                                            <div>@Model.List[i].CarriageNo 车 @Model.List[i].SeatNo 号</div>
                                                        </td>
                                                        <td style="position: relative;">
                                                            <div> 成人票 </div>
                                                            <div><span class="txt-price">@Model.List[i].OrderValue 元</span></div>
                                                        </td>
                                                        <td>
                                                            <div class="ticket-status-name">
                                                                <div> 已支付 </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" class="order-operation">
                                                            <div class="btn-right">
                                                                <div class="alert alert-rebuy">
                                                                    <div class="alert-hd">
                                                                        改签申请
                                                                        <span class="alert-close" onclick="alert_rebuy()">X</span>
                                                                    </div>
                                                                    <div class="alert-bd">
                                                                        <h2 class="msg">您确认要改签吗？</h2>
                                                                    </div>
                                                                    <div class="choice">
                                                                        <a href="#" onclick="alert_rebuy()" class="tc_btn">取消</a>
                                                                        <a href="/Train/reBuy?Order_ID=@Model.List[i].OrderID" class="tc_btn" data-sequenceno="ED43099486" data-type="N" data-start-train-date-page="2022-09-14 11:10" style="margin-left: 30px;">确定</a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" onclick="alert_rebuy()" class="btn resignTrain">改签</a>
                                                                <div class="alert alert-cancel">
                                                                    <div class="alert-hd">
                                                                        退票申请
                                                                        <span class="alert-close" onclick="alert_cancel()">X</span>
                                                                    </div>
                                                                    <div class="alert-bd">
                                                                        <h2 class="msg">您确认要退票吗？</h2>
                                                                    </div>
                                                                    <div class="choice">
                                                                        <a href="#" onclick="alert_cancel()" class="tc_btn">取消</a>
                                                                        <a href="/Person/t_cancel?Order_ID=@Model.List[i].OrderID" class="tc_btn" data-sequenceno="@Model.List[i].OrderID" data-type="Y" style="margin-left: 30px;">确定</a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" onclick="alert_cancel()" class="btn resignTrain">退票</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        }

                                    }
                                }
                            </div>
                            <div id="J-Trip" class="pagination mt-lg"></div>
                        </div>
                    </div>
                    <!-- 历史订单 -->
                    <div class="tab-item" style="display: none; min-height: 530px;" id="history">
                        <!-- 历史订单列表 -->
                        <div class="order-panel order-panel-history">
                            <!-- 订单-搜索表单 -->
                            <div class="search-form-mini">
                                <div class="form-item">
                                    <div class="sel-inner">乘车日期</div>
                                </div>
                                <div class="form-item">
                                    <div class="input-box input-data w160">
                                        <input type="text" id="historyFromDate" class="input" value="" aria-label="请输入日期，例如2021杠01杠01" autocomplete="off">
                                        <i class="icon icon-date" data-click="historyFromDate"></i>
                                    </div>
                                    <span class="txt-lighter"> - </span>
                                    <div class="input-box input-data w160">
                                        <input type="text" id="historyToDate" class="input" value="" aria-label="请输入日期，例如2021杠01杠01" autocomplete="off">
                                        <i class="icon icon-date" data-click="historyToDate"></i>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="input-box input-data w160">
                                        <input type="text" class="input" placeholder="订单号/车次/姓名" id="historyName" autocomplete="off">
                                        <i class="icon icon-clear"></i>
                                    </div>
                                </div>
                                <div class="form-item"> <a href="javascript:;" class="btn w100" id="searchHistory">查询</a> </div>
                            </div>

                            <!-- 历史订单-历史订单列表头部 -->
                            <table class="order-panel-head title-text" style="display:table;">
                                <colgroup>
                                    <col class="col-train">
                                    <col class="col-passenger">
                                    <col class="col-seat">
                                    <col class="col-price">
                                    <col class="col-state">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>车次信息</th>
                                        <th style="width: 200px">旅客信息</th>
                                        <th>席位信息</th>
                                        <th>票价</th>
                                        <th>车票状态</th>
                                        <!-- <th>总金额</th> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div id="history_travel">
                                <div class="order-item">
                                    <div class="order-item-hd">
                                        <div class="order-hd-info"><span class="txt-light">订票日期：</span><span class="dingqiaoDate" data-date="2022-08-31 21:23:25">2022-08-31</span></div>
                                        <div class="order-hd-info"><span class="txt-light">订单号：</span>ED43099485</div>
                                    </div>
                                    <div class="order-item-bd">
                                        <table class="order-item-table" id="query_order_form_ED43099485">
                                            <colgroup>
                                                <col class="col-train">
                                                <col class="col-passenger">
                                                <col class="col-seat">
                                                <col class="col-price">
                                                <col class="col-state">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr class="has-order-num ">
                                                    <td class="td-left align-top" rowspan="1">
                                                        <div class="order-info-ticket">
                                                            <!-- <div class="order-num-one">去程</div> -->
                                                            <div class="txt-bold txt-lg">白银西&nbsp;&gt;&nbsp;长征 7515</div>
                                                            <div>2022-09-14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11:10 开</div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 200px;">
                                                        <div class="passenger-operation">
                                                            <div class="passenger-check data-val" data-sequence="ED43099486" data-value="ED43099486,1,03,0011,2022-09-14 11:10" data-tradeno="NN1NNNJ0Z0Z1N0W1Z00N00  000Z0Z      00Z"> </div>
                                                            <div>白晶晶 </div>
                                                            <div> 中国居民身份证 </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>硬座</div>
                                                        <div>03车011号</div>
                                                    </td>
                                                    <td style="position: relative;">
                                                        <div> 成人票 </div>
                                                        <div><span class="txt-price">6.5元</span></div>
                                                    </td>
                                                    <td>
                                                        <div class="ticket-status-name">
                                                            <div> 已支付 </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="J-History" class="pagination mt-lg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 暂无数据 -->
            <div class="panel-tab" id="noDataDom" style="display: none">
                <div class="tab-bd">
                    <!-- 历史订单 -->
                    <div class="tab-item" style="display: block; min-height: 530px;">
                        <!-- 历史订单列表 -->
                        <div class="order-panel order-panel-history">
                            <div class="order-empty">
                                <div class="empty-txt">
                                    <p>您没有对应的订单内容哦～</p>
                                    <p> 您可以通过<a href="JavaScript:;" class="txt-primary underline">车票订购</a>功能，来制定出行计划。 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="personal_ticket.js"></script>
</body>
</html>
