@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewData["Title"] = "订单查询";
}
@model ReturnModels.OrderList;
<div class="header">
	<h1>管理员页面</h1>
</div>
<ul>
	<li><a class="active" asp-controller="Admin" asp-action="OrderQuery">订单查询</a></li>
	<li><a asp-controller="Admin" asp-action="UserQuery">用户查询</a></li>
	<li><a asp-controller="Admin" asp-action="TrainQuery">车次查询</a></li>
</ul>
<div class="column">
	<label for="order">订单编号</label>
	<input type="text" id="order" name="order" placeholder=" ">
	<input type="submit" value="搜索" onclick="Search()">
	<script>
		function Search() {
			var order = document.getElementById('order').value;
			var ta = document.getElementById('orderlist');
			var tr = ta.getElementsByTagName("tr");
			
			//循环表格每一行，查找匹配项
			for (i = 0; i < tr.length; i++) {
				var td = tr[i].getElementsByTagName("td")[0].innerHTML;
				if (td == order) {
					alert(tr[1].getElementsByTagName("td")[1].innerHTML);
					return;
				}
			}
			alert("不存在此订单");
		}
	</script>
	<table border="1" id="orderlist">
		<tr>
			<th>订单编号</th>
			<th>乘坐人</th>
			<th>起始站</th>
			<th>终点站</th>
			<th>发车日期</th>
			<th>出发时间</th>
			<th>到达时间</th>			
		</tr>
		@*@{
			if (Model != null)
				foreach (var x in Model.list)
				{
					<tr>
						<td>@x.UserID</td>
						<td>@x.UserRName</td>
						<td>@x.UserGender</td>
						<td>@x.UserPID</td>
						<td>@x.UserPhone</td>
						<td>@x.UserEmail</td>
						<td>@x.UserAddr</td>
					</tr>
				}
		}*@
	</table>
</div>
