@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewData["Title"] = "订单查询";
}
@model ReturnModels.OrderList;
<div class="header">
	<h1>管理员页面</h1>
</div>
<ul>
	<li><a class="active" asp-controller="Admin" asp-action="OrderQuery">订单查询</a></li>
	<li><a asp-controller="Admin" asp-action="UserQuery">用户查询</a></li>
	<li><a asp-controller="Admin" asp-action="TrainQuery">车次查询</a></li>
</ul>
<div class="column">
    <form method="post" asp-action="OrderQuery">
        <label for="order">订单编号:</label>
        @{
            if (Model.List.Count == 1)
            {
                <input type="text" id="OrderID" name="OrderID" value="@Model.List[0].OrderID" placeholder="@Model.List[0].OrderID">
            }
            else
            {
                <input type="text" id="OrderID" name="OrderID" placeholder=" ">
            }
        }
        @*<input type="submit" value="搜索" onclick="Search()">*@
        <button type="submit" id="submit_botton">搜索</button>
    </form>
	@*<script>
		function Search() {
			var order = document.getElementById('order').value;
			var ta = document.getElementById('orderlist');
			var tr = ta.getElementsByTagName("tr");
			
			//循环表格每一行，查找匹配项
			for (i = 0; i < tr.length; i++) {
				var td = tr[i].getElementsByTagName("td")[0].innerHTML;
				if (td == order) {
					alert(tr[1].getElementsByTagName("td")[1].innerHTML);
					return;
				}
			}
			alert("不存在此订单");
		}
	</script>*@
	<table border="1" id="orderlist">
		<tr>
			<th>订单编号</th>
			<th>乘坐人</th>
			<th>起始站</th>
			<th>终点站</th>
			<th>车次号</th>
			<th>订单价格</th>			
		</tr>
		@{
            if (Model != null)

            for(int i=0;i<Model.List.Count;i++)
            {
					<tr>
						<td>@Model.List[i].OrderID</td>
						<td>@Model.List[i].Passenger.PassengerRName</td>
						<td>@Model.Start_station[i]</td>
						<td>@Model.End_station[i]</td>
						<td>@Model.List[i].TrainID</td>
						<td>@Model.List[i].OrderValue</td>
					</tr>
				}
		}
	</table>
</div>
