@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewData["Title"] = "车次查询";
}
@model ReturnModels.TrainList;
<div class="header">
	<h1>管理员页面</h1>
</div>
<ul>
	<li><a asp-controller="Admin" asp-action="OrderQuery">订单查询</a></li>
	<li><a asp-controller="Admin" asp-action="UserQuery">用户查询</a></li>
	<li><a class="active" asp-controller="Admin" asp-action="TrainQuery">车次查询</a></li>
</ul>
<div class="column">
    <form method="post" asp-action="TrainQuery">
        <label for="train">车次编号</label>
        @{ 
                if (Model.List.Count == 1)
                {
                    <input type="text" id="TrainID" name="TrainID" value="@Model.List[0].TrainID" placeholder="@Model.List[0].TrainID">
                }
                else
                {
                    <input type="text" id="TrainID" name="TrainID" placeholder=" ">
            }

        }
        @*<input type="submit" value="搜索" onclick="Search()">*@
        <button type="submit" id="submit_button">搜索</button>
    </form>
    @*<script>
        function Search() {
            var trainNo = document.getElementById('trainNo').value;
            var ta = document.getElementById('trainlist');
            var tr = ta.getElementsByTagName("tr");

            //循环表格每一行，查找匹配项
            for (i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0].innerHTML;
                if (td == trainNo) {
                    //
                    alert(tr[1].getElementsByTagName("td")[1].innerHTML);
                    return;
                }
            }
            alert("不存在此车次");
        }
    </script>*@

<table border="1" id="trainlist">
    <tr>
        <th>列车编号</th>
        <th>起始站</th>
        <th>终点站</th>
        <th>出发时间</th>
        <th>到达时间</th>
    </tr>
    @{
        if (Model != null)
            for (int i = 0; i < Model.List.Count; i++)
            {
                <tr>
                    <td>@Model.List[i].TrainID</td>
                    <td>@Model.Start_station[i]</td>
                    <td>@Model.End_station[i]</td>
                    <td>@Model.List[i].StartTime</td>
                    <td>@Model.List[i].EndTime</td>
                </tr>
            }
    }
</table>
</div>
