@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "用户查询";
}
@model ReturnModels.UserList;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户查询</title>
    <link rel="stylesheet" href="/Admin/admin.css">
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Admin/image/订单查询1.png">
                    <img class="img2" src="/Admin/image/订单查询2.png">
                    <a href="/Admin/OrderQuery">订单查询</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Admin/image/用户查询1.png">
                    <img class="img2" src="/Admin/image/用户查询2.png">
                    <a href="/Admin/UserQuery">用户查询</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Admin/image/车次查询1.png">
                    <img class="img2" src="/Admin/image/车次查询2.png">
                    <a href="/Admin/TrainQuery">车次查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <span>您好！</span>
        <span style="color: #6F9BFF;">管理员</span>
    </div>

    <div class="content">
        <div class="search">
            <form method="post" asp-action="UserQuery">
                <label for="user">
                    <h2 style="display: inline-block;">用户身份证号：</h2>
                </label>
                        <input type="text" id="ID" name="ID" placeholder=" ">
                <button style="margin-left: 750px;" class="query" type="submit" id="bottom" style="margin-left: 410px;">搜索</button>
                @*<input style="margin-left: 750px;" class="i_submit" type="submit" value="搜索" onclick="Search()">*@
            </form>
        </div>
        <div class="lists">
            <div class="lists-hd">
                <table>
                    <tbody>
                        <tr>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>身份证号</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>居住地</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="lists-bd">
                <table class="list" id="userlist">
                    @{
                        if (Model != null)
                            foreach (var x in Model.List)
                            {
                                <tr>
                                    <td>@x.UserRName</td>
                                    <td>@x.UserGender</td>
                                    <td>@x.UserPID</td>
                                    <td>@x.UserPhone</td>
                                    <td>@x.UserEmail</td>
                                    <td>@x.UserAddr</td>
                                </tr>
                            }
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
