@model ReturnModels.Train_Buy_Model;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buy</title>
    <script src="jquery-3.5.1/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div style="line-height: 50px;font-size: 20px;height: 50px;width: 1600px; color: rgb(255, 255, 255);background-color: rgb(97, 130, 240);">
        &emsp;&emsp;&emsp;<a style="text-decoration:none; color: white;" href="/Train/Index">铁路购票系统</a>&emsp;&emsp;<a style="text-decoration:none; color: white;" href="/Person/center">个人中心</a>
    </div>
    <form method="post" action="/Train/Buy">

        <div style="line-height: 8px;position: absolute;top: 70px;border-radius: 10px; border:1px ridge rgb(147, 147, 245);height:100px; width:1600px; background-color:aliceblue;">
            <p>&emsp;</p>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;始发站：<input onclick="in1()" id="bef3" name="start_station" placeholder="@Model.Start_station">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;终点站：<input onclick="in2()" name="end_station" id="bef4" placeholder="@Model.End_station">
            &emsp;&emsp;&emsp;&emsp;出发日期：
            <select name="date" onchange="ch()">
            </select>
            <select name="datem" onchange="chm()">
            </select>
            <select name="dated">
            </select>

            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button onclick="huizhi()" style="height:25px; width:60px; border-width:1px">查询</button>
            <div id="xuanze" style='display: none; position:absolute; border:1px solid rgb(121, 173, 245); top:115px; left: 250px;height:200px; width: 200px; overflow: scroll; background-color: rgb(255, 255, 255);'></div>
        </div>
    </form>
        <div style="line-height: 1px;position: absolute;top: 180px; border:1px ridge rgb(147, 147, 245);height:50px; width:1600px; background-color:rgb(147, 147, 245); color:white">
            <p>&emsp;&emsp;</p>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;车次&emsp;&emsp;&emsp;&emsp;出发-到达站&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;出发-到达时间&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;商务座&emsp;&emsp;头等座&emsp;&emsp;一等座&emsp;&emsp;二等座
        </div>
        <div style="position: absolute;top: 230px;" id="chepiao">
            @{
                if (Model != null)
                    for (int i = 0; i < Model.TrainTickets.Count; i++)
                    {
                        <a style="text-decoration:none;" onclick="location.href = ('/Train/Pay?train_id=@Model.TrainTickets[i].TrainID&start_station=@Model.TrainTickets[i].StartStName&end_station=@Model.TrainTickets[i].EndStName&leaving_time=@Model.TrainTickets[i].LeavingTime&arrive_time=@Model.TrainTickets[i].ArriveTime')" >
                            <div style="line-height: 1px; height: 50px; width: 1600px; border: 1px solid rgb(121, 173, 245); background-color: floralwhite;">
                                <p>&emsp;</p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].TrainID&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].StartStName--@Model.TrainTickets[i].EndStName&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].LeavingTime--@Model.TrainTickets[i].LeavingTime&emsp;&emsp;&emsp;@Model.TrainTickets[i].VIPAmount&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].EXAmount&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].FirstAmount&emsp;&emsp;&emsp;&emsp;@Model.TrainTickets[i].SecondAmount
                            </div>
                        </a>
                    }
            }
        </div>
        <div id="xuanze2" style='display: none; position:absolute; border:1px solid rgb(121, 173, 245); top:120px; left: 245px;height:200px; width: 200px; overflow: scroll; background-color: rgb(255, 255, 255);'>

        </div>

        <script>

        var d = new Date();
        var year = d.getFullYear();
        var year2 = d.getFullYear() + 1;
        var month = d.getMonth() + 1;
        var daa = 0;
        var daiin = document.getElementsByTagName("select")[0];
        for (; year <= 2030; year++) {
            if (year == @Model.Leaving_time.Year) {
                daiin.innerHTML += "<option selected = \"selected\">" + year + "</option>"
            }
            else {
                daiin.innerHTML += "<option>" + year + "</option>";
            }
        }

        var daiin2 = document.getElementsByTagName("select")[1];
        for (; month <= 12; month++) {
            if (month == @Model.Leaving_time.Month) {
                daiin2.innerHTML += "<option selected = \"selected\">" + month + "</option>";
            }
            else {
                daiin2.innerHTML += "<option>" + month + "</option>";
            }
        }

        var daiin3 = document.getElementsByTagName("select")[2];
        var md = new Array();
        var yearc = document.getElementsByName("date")[0].value;
        var mousc = document.getElementsByName("datem")[0].value;

        function ch() {
            yearc = document.getElementsByName("date")[0].value;
        }
        function chm() {
            yearc = document.getElementsByName("datem")[0].value;
        }
        if (yearc % 4 == 0)
            md = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        else
            md = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var dj = 0;
        for (dj = 0; dj < md[mousc - 1]; dj++) {
            daa = dj + 1;
            if (daa == @Model.Leaving_time.Day) {
                daiin3.innerHTML += "<option selected = \"selected\">" + daa + "</option>";
            }
            else {
                daiin3.innerHTML += "<option>" + daa + "</option>";
            }
        }
        </script>
        <script>
            var shi = document.getElementsByName("shi")[0];
            var fen = document.getElementsByName("fen")[0];
            for (var i1 = 0; i1 < 24; i1++) {
                shi.innerHTML += "<option>" + i1 + "</option>";
            }
            for (var i3 = 0; i3 < 60; i3++) {
                fen.innerHTML += "<option>" + i3 + "</option>";
            }
            var shi2 = document.getElementsByName("shi2")[0];
            var fen2 = document.getElementsByName("fen2")[0];
            for (var i1 = 23; i1 > -1; i1--) {
                shi2.innerHTML += "<option>" + i1 + "</option>";
            }
            for (var i3 = 59; i3 > -1; i3--) {
                fen2.innerHTML += "<option>" + i3 + "</option>";
            }


        </script>
        <script>
            function in1() {
                lis(1, document.getElementById('bef3').value);
                document.getElementById('xuanze2').style.left = '245px';
                if (document.getElementById('xuanze2').style.display == "none")
                    document.getElementById('xuanze2').style.display = "block";
                else
                    document.getElementById('xuanze2').style.display = "none";
            }
            function in2() {
                lis(2, document.getElementById('bef4').value);
                document.getElementById('xuanze2').style.left = '635px';
                if (document.getElementById('xuanze2').style.display == "none")
                    document.getElementById('xuanze2').style.display = "block";
                else
                    document.getElementById('xuanze2').style.display = "none";
            }
            var a = new Array();
            a = ["","北京", "天津", "济南", "上海", "杭州", "台北", "福州", "南昌", "长沙", "广州", "昆明", "贵阳", "武汉", "南京", "郑州", "重庆", "成都", "西安", "兰州", "天津北"];

            function cd(obj) {
                document.getElementById('bef3').value = obj.innerHTML;
                document.getElementById('xuanze2').style.display = "none";
            }
            function cd2(obj) {
                document.getElementById('bef4').value = obj.innerHTML;
                document.getElementById('xuanze2').style.display = "none";
            }
            function lis(p, cha) {

                var a2 = new Array();
                a2 = ["","北京", "天津", "济南", "上海", "杭州", "台北", "福州", "南昌", "长沙", "广州", "昆明", "贵阳", "武汉", "南京", "郑州", "重庆", "成都", "西安", "兰州", "天津北"];
                var i2 = 0;
                var i3 = 0;
                var x = 0;
                var y = 0;
                var chu;
                for (i2 = 0, i3 = 0; i2 < a.length; i2++) {
                    if (a[i2].includes(cha) || cha == null) {
                        a2[i3] = a[i2];
                        i3++;
                    }
                }
                if (p == 1)
                    chu = "cd(this)";
                else
                    chu = "cd2(this)";
                var before = document.getElementById('xuanze2');
                for (i2 = 0; i2 < a.length; i2++) {
                    x = 0 + i2 % 4 * 50;
                    y = 0 + Math.floor(i2 / 4) * 25;
                    if (i2 > a2.length || i2 == a2.length)
                    {
                        before.innerHTML += "<button id='" + i2 + "' onclick='" + chu + "' style='background-color: rgb(255, 255, 255);position:absolute; border-width:1px; top:" + y + "px; left: " + x + "px; width: 50px'>&emsp;</button>";
                        continue;
                    }
                    before.innerHTML += "<button id='" + i2 + "' onclick='" + chu + "' style='background-color: rgb(255, 255, 255);position:absolute; border-width:1px; top:" + y + "px; left: " + x + "px; width: 50px'>" + a2[i2] + "</button>";
                }
            }
        </script>
</body>
</html>