@model ReturnModels.Train_Pay_Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pay</title>
    <script src="/Train/jquery-3.5.1/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/Train/train_pay.css">
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/系统首页1.png">
                    <img class="img2" src="/Person/image/系统首页2.png">
                    <a href="/Home/Index">系统首页</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/订票中心1.png">
                    <img class="img2" src="/Person/image/订票中心2.png">
                    <a href="/Train/Index">订票中心</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/个人信息1.png">
                    <img class="img2" src="/Person/image/个人信息2.png">
                    <a href="/Person/information">个人信息</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/我的订单1.png">
                    <img class="img2" src="/Person/image/我的订单2.png">
                    <a href="/Person/ticket">我的订单</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Person/image/安全中心1.png">
                    <img class="img2" src="/Person/image/安全中心2.png">
                    <a href="/Person/account">安全中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <img src="/Train/images/train.png">
        <span>您好！</span>
        <span>@Model.Myuser.UserRName</span>
        <a href="/Login/Index">退出登录</a>
    </div>
    <div class="content">
        <div class="tinfo">
            <div class="s_sta" id="stta">
                <p style="color: #fb7403;">@Model.Start_station</p>
                <p>@Model.TrainTicket.LeavingTime</p>
            </div>
            <div class="tinfo-middle" id="cc">
                <p style="color: #fb7403;">@Model.Train_ID</p>
                <img style="position: relative;top:-25px;opacity: 80%;" src="/Train/images/row.png">
                <p style="line-height: 10px">&emsp;</p>
            </div>
            <div class="e_sta" id="endd">
                <p style="color: #fb7403;">@Model.End_station</p>
                <p>@Model.TrainTicket.ArriveTime</p>
            </div>
        </div>

        <div class="pinfo">
            <div class="pinfo-hd">
                <table>
                    <tbody>
                        <tr>
                            <th class="choice">选择</th>
                            <th>乘车人</th>
                            <th>身份证号</th>
                            <th>座次</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form method="post" action="/Train/Pay">
                <div class="pinfo-bd">
                    <table class="info">
                        @{
                            if (Model != null)
                            {
                                <tr>
                                    <td class="choice"><input type="checkbox" id="seat[0]" name="PID[]" onclick="f(this)" value="@Model.Myuser.UserPID"><input hidden="hidden" name="name[]" value="@Model.Myuser.UserRName"></td>
                                    <td>@Model.Myuser.UserRName</td>
                                    <td>@Model.Myuser.UserPID</td>
                                    <td>
                                        <input hidden="hidden" name="train_id" value="@Model.Train_ID" />
                                        <input hidden="hidden" name="start_station" value="@Model.Start_station" />
                                        <input hidden="hidden" name="end_station" value="@Model.End_station" />
                                        <input hidden="hidden" name="date" value="@Model.TrainTicket.TrainDate" />
                                        <p style="margin: 3px;font-size:15px">
                                            @{
                                                if (Model.TrainTicket.VIPAmount != 0)
                                                {
                                                    <label name="l_seat[0]" style="visibility:hidden"><input type="radio" name="seat[0]" value="VIP" onchange="on2(this)">商务座</label>
                                                }
                                            }
                                            @{
                                                if (Model.TrainTicket.EXAmount != 0)
                                                {
                                                    <label name="l_seat[0]" style="visibility:hidden"><input type="radio" name="seat[0]" value="EX" onchange="on2(this)">特等座</label>
                                                }
                                            }
                                            @{
                                                if (Model.TrainTicket.FirstAmount != 0)
                                                {
                                                    <label name="l_seat[0]" style="visibility:hidden"><input type="radio" name="seat[0]" value="first" onchange="on2(this)">一等座</label>
                                                }
                                            }
                                            @{
                                                if (Model.TrainTicket.SecondAmount != 0)
                                                {
                                                    <label name="l_seat[0]" style="visibility:hidden"><input type="radio" name="seat[0]" value="second" onchange="on2(this)">二等座</label>
                                                }
                                            }
                                                    <input hidden="hidden" type="radio" name="seat[0]" value="zero" checked="checked">
                                        </p>
                                    </td>
                                </tr>
                            }

                            if (Model != null && Model.MyPassengers != null && Model.MyPassengers.Count > 0)
                            {
                                for (int i = 0; i < Model.MyPassengers.Count; i++)
                                {
                                    <tr>
                                        <td class="choice"><input type="checkbox" id="seat[@(i+1)]" name="PID[]" onclick="f(this)" value="@Model.MyPassengers[i].PassengerPID"><input hidden="hidden" name="name[]" value="@Model.MyPassengers[i].PassengerRName"></td>
                                        <td>@Model.MyPassengers[i].PassengerRName</td>
                                        <td>@Model.MyPassengers[i].PassengerPID</td>
                                        <td>
                                            <p style="margin: 3px;font-size:15px">
                                                @{
                                                    if (Model.TrainTicket.VIPAmount != 0)
                                                    {
                                                        <label name="l_seat[@(i+1)]" style="visibility:hidden"><input type="radio" name="seat[@(i+1)]" value="VIP" onchange="on2(this)">商务座</label>
                                                    }
                                                }
                                                @{
                                                    if (Model.TrainTicket.EXAmount != 0)
                                                    {
                                                        <label name="l_seat[@(i+1)]" style="visibility:hidden"><input type="radio" name="seat[@(i+1)]" value="EX" onchange="on2(this)">特等座</label>
                                                    }
                                                }
                                                @{
                                                    if (Model.TrainTicket.FirstAmount != 0)
                                                    {
                                                        <label name="l_seat[@(i+1)]" style="visibility:hidden"><input type="radio" name="seat[@(i+1)]" value="first" onchange="on2(this)">一等座</label>
                                                    }
                                                }
                                                @{
                                                    if (Model.TrainTicket.SecondAmount != 0)
                                                    {
                                                        <label name="l_seat[@(i+1)]" style="visibility:hidden"><input type="radio" name="seat[@(i+1)]" value="second" onchange="on2(this)">二等座</label>
                                                    }
                                                }
                                                <input hidden="hidden" type="radio" name="seat[@(i+1)]" value="zero" checked="checked">
                                            </p>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
                <div class="btn">
                    <button class="btn1" type="button" onclick="javascript:jump()">添加乘车人</button>&nbsp;&nbsp;
                    <button class="btn2" type="submit">订票</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function jump() {
            window.location.href = "/Person/information";
        }
    </script>
    <script>
        function on(e) {
            e.setAttribute("value", e.value);
        }
        function on2(e) {
            e.setAttribute("checked", e.checked);
        }
        //var num = 0;
        //function delet(obj) {
        //    var di = obj.name;
        //    document.getElementById(di).remove();
        //    num--;
        //}
        //function create() {
        //    num++;
        //    var inf = "info[" + num.toString() + "]";
        //    var namme = "seat[" + num.toString() + "]";
        //    document.getElementById('infos').innerHTML += "<div class='pinfo-bd' id='" + inf + "'><p>填写乘车人信息 <button class='btn' name = '" + inf + "' onclick = 'delet(this)' style = 'margin-left: 490px;'> 删除</button > <hr> </p> <p style='margin: 3px;'>身份证号：<input id='" + inf + ".idcard' onchange='on(this)' name='idcard'></p><p style='margin: 3px;'>姓&emsp;&emsp;名：<input id='" + inf + ".name' onchange='on(this)' name='name'></p> <p style='margin: 3px;'>选择座位类型：<label><input type='radio' name='" + namme + "' value='VIP' onchange='on2(this)'>商务座</label><label><input type='radio' name='" + namme + "' value='EX' onchange='on2(this)'>特等座</label><label><input type='radio' name='" + namme + "' value='first' onchange='on2(this)'>一等座</label> <label><input type='radio' name='" + namme + "' value='second' onchange='on2(this)'>二等座</label></p> </div>";
        //}
    </script>
    <script>
        function f(obj) {
            var u = 0;
            for (u = 0; u < document.getElementsByName(obj.id).length-1 && obj.checked == false; u++) {
                document.getElementsByName(obj.id)[u].checked = false;
                document.getElementsByName("l_"+obj.id)[u].style.visibility="hidden";
            }
            document.getElementsByName(obj.id)[document.getElementsByName(obj.id).length-1].checked = true;
            for (u = 0; u < document.getElementsByName(obj.id).length-1 && obj.checked == true; u++) {
                document.getElementsByName("l_" + obj.id)[u].style.visibility = "visible";
            }
        }
    </script>
</body>
</html>