@model ReturnModels.Train_Pay_Model;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pay</title>
    <script src="jquery-3.5.1/jquery-3.5.1.min.js"></script>
    @{
        if (Model == null)
        {
            <script>
                window.history.go(-1);
            </script>
        }
    }

</head>
<body>
    <div style="height: 180px;width: 900px; color: rgb(0, 0, 0);background-color: white;">
        <div id="stta" style="text-align: center;position:absolute; left: 50px; top: 70px; border-radius: 20px;font-size: 20px;height: 160px;width: 200px; background-color: rgb(147, 147, 245);">
            <p>起始站</p>
            @{
                if (Model != null)
                {
                    <p>@Model.Start_station</p>
                    <p>@Model.Leaving_time.Hour:@Model.Leaving_time.Minute</p>
                }
            }

        </div>
        <div id="endd" style="text-align: center;position:absolute; left: 540px; top: 70px; border-radius: 20px;font-size: 20px;height: 160px;width: 200px; background-color: rgb(147, 147, 245);">
            <p>终点站</p>
            @{
                if (Model != null)
                {
                    <p>@Model.End_station</p>
                    <p>@Model.Arrive_time.Hour:@Model.Arrive_time.Minute</p>
                }
            }
        </div>
    </div>

    <div id="cc" style="position:absolute;top:85px;left:350px">
        @{
            if (Model != null)
            {
                <p>@Model.Train_ID</p>
                <img src="/Train/images/row.jpg" style="position:absolute;top: 45px; left: -50px">
                <p>@Model.Leaving_time.Month 月 @Model.Leaving_time.Day 日</p>
            }
        }
        <p style="line-height: 10px">&emsp;</p>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <form method="post" asp-action="Pay">
        <div id="infos" style="border-radius: 20px; border: 1px solid rgb(97, 130, 240); width: 700px; background-color: aliceblue">
            <button type="button" onclick="create()" style="border: 1px solid rgb(97, 130, 240); border-radius: 20px;position:relative; right: 0px">添加乘车人</button>
            @{
                if (Model != null)
                {
                    <input type="hidden" id="train_ID" name="train_ID" value="@Model.Train_ID" />
                    <input type="hidden" id="start_station" name="start_station" value="@Model.Start_station" />
                    <input type="hidden" id="end_station" name="end_station" value="@Model.End_station" />
                    <input type="hidden" id="leaving_month" name="leaving_month" value="@Model.Leaving_time.Month" />
                    <input type="hidden" id="leaving_day" name="leaving_day" value="@Model.Leaving_time.Day" />
                }
            }

            <div id="info[0]" style="border-radius: 20px;height: 180px;width: 700px; color: rgb(0, 0, 0);background-color: lightgoldenrodyellow;border: 1px solid rgb(97, 130, 240);">

                <p>
                    &emsp;&emsp;填写乘车人信息&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button name="info[0]" style="border-radius: 20px; border: 1px solid rgb(97, 130, 240); background-color:aliceblue" onclick="delet(this)">删除</button>
                </p>
                <p>&emsp;&emsp;身份证号：<input id="info[0].idcard" onchange="on(this)" name="idcard"></p>
                <p>&emsp;&emsp;姓名：<input id="info[0].name" onchange="on(this)" name="name"> </p>&emsp;&emsp;选择座位类型：
                <input type="radio" name="seat[0]" value="VIP" onchange="on2(this)">商务座
                <input type="radio" name="seat[0]" value="EX" onchange="on2(this)">特等座
                <input type="radio" name="seat[0]" value="first" onchange="on2(this)">一等座
                <input type="radio" name="seat[0]" value="second" onchange="on2(this)">二等座
            </div>

        </div>
        <div style="height: 20px"></div>
        <div style="border-radius: 20px;height: 180px;width: 700px;background-color: aliceblue;">
            <p>&emsp;</p>
            <p>&emsp;&emsp;请选择支付方式：</p>
            &emsp;&emsp;<input type="radio" name="payway" value="Wechat">微信支付
            <input type="radio" name="payway" value="Alipay">支付宝支付
            <p>&emsp;</p>
            <p>&emsp;&emsp;<button type="submit">订票</button></p>
        </div>
    </form>
    <script>
        function on(e) {
            e.setAttribute("value", e.value);
        }
        function on2(e) {
            e.setAttribute("checked", e.checked);
        }
        var num = 0;
        function delet(obj) {
            var di = obj.name;
            document.getElementById(di).remove();
            num--;
        }
        function create() {
            num++;
            var inf = "info[" + num.toString() + "]";
            var nameidcar = "idcard";
            var namenamme = "name";
            var namme = "seat[" + num.toString() + "]";
            document.getElementById('infos').innerHTML += "<div id='" + inf + "' style='border-radius: 20px; height: 180px; width: 700px; color: rgb(0, 0, 0); background-color: lightgoldenrodyellow; border: 1px solid rgb(97, 130, 240); >'" +
                "<p>&emsp;&emsp;填写乘车人信息&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button name=" + inf + " style='border-radius: 20px; border: 1px solid rgb(97, 130, 240); background-color: aliceblue' onclick='delet(this)'>删除</button></p><p>&emsp;&emsp; 身份证号：<input id=" + inf + "." + nameidcar + " onchange='on(this)' name='" + nameidcar + "'></p><p>&emsp;&emsp;姓名：<input name='" + namenamme + "' id='" + inf + "." + namenamme + "' onchange='on(this)'></p>&emsp;&emsp;选择座位类型：<input onchange='on2(this)' type='radio' name='" + namme + "' value='VIP'>商务座<input onchange='on2(this)' type='radio' name='" + namme + "' value='EX'>特等座<input onchange='on2(this)' type='radio' name='" + namme + "' value='first'>一等座<input onchange='on2(this)' type='radio' name='" + namme + "' value='second'>二等座</div>";
        }
    </script>
</body>
</html>